body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #c598e4;
}

h1 {
    color: #f1f1f1;
}

input, button {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    width: 250px;
}

button {
    background-color: #d62b89;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d62b89;
}
